# Please define ALL of these keys.

# Connection options configuration (server, login) :
[Connexion]
server = chat.jabberfr.org
# Room name to join.
# This his is also the first param, i.e. you can do ./jabber_bot.pl <room>
room = anu
# Connection server, to which you have a registered account
con_server = im.apinc.org
# login for the connection server
login = YOUR_LOGIN
pass = YOUR_PASSWORD

# Dir and file names and addresses
[Paths]
joke_points_file = points_blague
# Directory in which the definitions will be stored
dir_defs = defs
# Directory in which the quotes will be stored
dir_quotes = quotes
file_philosophy = zoubida.txt
fifopath = fifo
# url to the shortener. See shortener/README.txt.
# You can define a local and an external address
# Yea, you can use mine. I'd appreciate if you used your own, though
shortener_url = https://ploudseeker.com/s/
shortener_external_url = https://ploudseeker.com/s/
# URL for the quotes server. This is a simple HTTP server created in a thread of the bot.
# Just make sure it's reachable from the internet
quotes_server_port = 11421
quotes_external_url = http://YOUR_DOMAINE_NAME_OR_IP

[Other]
bot_nick = anu
# The bot's admin's nick. He will have several supplementary rights on the bot.
# (e.g. make the bot quiet and handle joke points)
# Beware: there is NO JID verification
admin = YOUR_NICK
# The bot has an internal variable p.
# Everytime the bot sees a message, p is incremented by 1.
# He then generates a random number between 0 and min_number_for_talking, and
# says a random quote if this number is lesser than p.
# In other words, the greater min_number_for_talking, the fewer the bot will talk
min_number_for_talking = 2000
# Shortener : shorten URL longer than that size
# 0 = always shorten
min_link_size = 100
# Display websites' title up to that length
max_title_size = 200
# Timeout for WWW::Mechanize (Max time to wait while a URL does not respond)
mechanize_timeout = 10
# Max size to download from URLs (1 MB)
mechanize_max_size = 1000000
# The minimum length for a word to be cyber-ized
min_word_length = 5
# Sentence to write when a quote is requested and no quote has been issued yet.
last_author = Le silence est d'or.
